body {
}

.Signup_Header
{
    font-weight:bold;
    font-size:large;
    color:Blue;
}

.Signup_Left_Columns
{
    width:150px;
}

.Signup_Tabs
{
    
}

.Admin_Tabs
{
     border:1px solid black;
}

.FinePrint
{
    font-size:small;
}

.Login_Header
{
    font-weight:bold;
    font-size:large;
    color:Blue;
}

.Exchange_Header
{
    font-weight:bold;
    font-size:large;
    color:Blue;
}