@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular.ttf');
}

body 
{
     font-family:Arial;
     font-size:small;     
}

.Loggedin div
{
    overflow:hidden; 
    white-space:nowrap;
    display:inline-block;    
    height:31px;
    color:White;
    vertical-align:bottom;  
    font-family:Roboto;
    font-weight:bold;
    line-height:25px;
    margin-left:-4px;
}

.mainbody
{
    background-image:url('/images/homepage/background.jpg');
     background-repeat:no-repeat;
     background-position:center top;     
}

.mainbody2
{
    background-image:url('/images/homepage/background2.jpg');
     background-repeat:no-repeat;
     background-position:center top;     
}

a
{
    text-decoration:none;
    color:#1775a9;
}

a, img {
    border:none;
}

a:hover
{
    color:#2f0985;
}

.Default_Page
{
    text-align:center;
    font-family:Roboto;
    font-weight:bolder;
    font-size:xx-large;
    color:#885f17;
    text-shadow: 2px 2px #EEEEEE;
}

.Signup_Header
{
    font-weight:bold;
    font-size:large;
    color:Blue;
}

.Signup_Left_Columns
{
    width:150px;
}

.Signup_Tabs
{
    
}

.Admin_Tabs
{
     border:1px solid black;
}

.FinePrint
{
    font-size:small;
}

.Login_Header
{
    font-weight:bold;
    font-size:large;
    color:#5b5b5b;
}

.Login_Page
{
    width:350px;
    height:100%;
    position:relative;
    top:140px;
    background: rgb(255, 255, 255) transparent; /* default fallback */
    background: rgba(255, 255, 255, 0.4); /* nice browsers */
    margin-top:-30px;
}

.Exchange_Header
{
    font-weight:bold;
    font-size:large;
    color:#5b5b5b;
}

.Page_Header
{
    font-weight:bold;
    font-size:large;
    color:#009211;
}

.RadListview_Alternating
{
    /*background-color:#e7ffe8;*/
    background-color:#eeeeee;
}

.RadListview_Header
{
    background-image:url('/images/Header_Background.jpg');
    background-repeat:repeat-x;
    height:26px;
    vertical-align:middle;
}

.RadListview_Table
{
    border-bottom:1px solid gray; 
    border-left:1px solid gray; 
    border-right:1px solid gray;
}

.Navigation_text
{
   color:#5b5b5b;
   font-family:Roboto;
   text-align:center;   
}

a.Navigation_text
{
   color:#5b5b5b;
   font-family:Roboto;
   font-size:medium;
   font-weight:bold;
   text-align:center;
}

a:Hover.Navigation_text
{
    color:Gray;
    font-family:Roboto;
   font-size:medium;
   font-weight:bold;
   text-align:center;
}

.Verification_Name
{
    font-weight:bold;
}
.Verification_Description
{
     font-size:smaller;
}
.Verification_Sections
{
    border-bottom:1px solid gray;
}

.User_Name
{
    color:#005d00;
    font-weight:bolder; 
    font-size:large;
}

.SendPayment_Box_Header
{
    background-color:#383838;
    color:White;
    height:25px;        
    font-weight:bold;
    font-size:medium;            
    width:320px;
    text-align:left;       
}

.SendPayment_Box_Main
{
    position:relative;
    top:5px;
    left:5px;
    color:Black;
    font-family:Roboto;    
     font-weight:bold;  
     padding-bottom:20px;           
}

.SendPayment_Box
{    
    background: rgb(255, 255, 255) transparent; /* default fallback */
    background: rgba(255, 255, 255, 0.4); /* nice browsers */
    width:320px;
}

.SendPayment_Box_Button
{
    background-image:url('/images/buttons/ExchangeCurrency_SendNow.png');
    background-position: 0 0;
    width:122px;
    height:33px;
}

.SendPayment_Box_Inputs 
{
    font-family:Roboto !important;
     font-weight:bold  !important;
     font-size:medium !important;     
}

.SendPayment_Footer
{
    background-image:url('/images/shadows/SendPayment.png');
    background-position: 0 0;
    background-repeat:no-repeat;
    width:350px;
    height:24px;    
    position:relative;
    left:10px;
}

.footer
{
    position:relative;
    top:10px;
    background-color:Black;
    width:1400px;
    height:80px;
    color:Gray;
    vertical-align:middle;
}

.footer2
{
    background-color:#faedd7;
    width:1400px;
    padding-bottom:10px;
    padding-top:10px;    
}

.Buttons, .Buttons:hover
{  
    width:120px;
    height:23px;  
    color:White;
    padding-top:10px;    
    font-weight:bold;        
}

.lblerror
{
    color:Blue;
    font-weight:bold;
}

.Dashboard_Buttons div
{
    background-image:url('/images/buttons/button2_background.png');
    width:201px;
    height:37px;
    line-height:37px;
    text-indent:30px;
    color:Gray;
    font-size:medium;
    font-family:Roboto;
    font-weight:bold;
    vertical-align:bottom;
    display:table-cell;
}

.Dashboard_Buttons img
{
    position:relative;
    top:3px;
    left:-15px;
}

.Dashboard_Buttons div:hover
{
    background-image:url('/images/buttons/button2_background_hover.png');
    width:201px;
    height:37px;
    line-height:37px;
    text-indent:30px;
    color:Gray;
    font-size:medium;
    font-family:Roboto;
    font-weight:bold;
    
}

.Dashboard_Book
{
    border:1px solid Gray; 
    width:500px;
    background-image:url('/images/PassportBook_Background.png');
}

.Dashboard_VerificationTable td
{
    padding:0px;    
    width:166px;
    text-align:center;        
    color:Gray;
}

.Dashboard_VerificationTable table
{
    width:500px;
    border-collapse: collapse;    
}

div.RadUpload
{
    width:98px;    
}

div.RadUpload .ruBrowse
{
     background-image:url('/images/buttons/ChangePic.png') !important;     
     width:98px !important;          
}

div.RadUpload .ruFakeInput
    {
        visibility: hidden;
        width: 0;
        padding: 0;
    }
    div.RadUpload .ruFileInput
    {
        width: 1;
    }
.hr_dotted
{
    border-bottom:2px dotted gray; 
    height:2px;
}

.Dashboard_Netbalance
{
    font-family:Roboto;    
    font-size:xx-large;
    color:#333333;
    font-weight:bold;
    position:relative;    
    padding-bottom:5px;
}

.Dashboard_Netbalance_words
{
    font-family:Roboto;    
    font-size:small;    
    color:#a0a0a0;
    text-align:left;
}

.Dashboard_Netbalance_additiontext
{
    text-align:right;
    padding-top:7px;
    font-size:smaller;
    color:Gray;
}

.checkRtl.rbToggleButton
{
    padding-left: 0;
    padding-right: 23px;
}
.checkRtl .rbPrimaryIcon
{
    right: 4px;
    left: auto;
}

/*
div.RadUpload .ruFakeInput
{
    visibility: hidden;
    width: 0;
    padding: 0;
}
div.RadUpload .ruFileInput
{
    width: 1;
}
*/